.box{
margin-top: 500px;
height: 100px;
width: 100px;
text-align: center;
align-content: center;
font-style: inherit;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}


#box1{
    color: green;
    background-color: lightgrey;
    border: 2px solid black;
    padding: 10px;
    margin: 15px;
}
#box2{
    color: purple;
    background-color: lightblue;
    border: 2px solid brown;
    padding: 10px;
    margin: 15px;
}
#box3{
    color: orange;
    background-color: lightgreen;
    border: 2px solid grey;
    padding: 10px;
    margin: 15px;
}
#box4{
    color: red;
    background-color: lightyellow;
    border: 2px solid pink;
    padding: 10px;
    margin: 15px;
}