.container {
    display: flex;
    height: 820px;
    width: 800px;
    background-color: #20d596;
    flex-direction: row;
    border: 2px  solid #000000;
    /* flex-wrap: wrap;
    justify-content: space-evenly;/*/
     align-items: center; 
    align-content: space-around; 
    row-gap: 1px;
    column-gap: ;
}
.item {
    height: 150px;
    width: 150px;
    background-color: #b0e794;
    border: 2px solid #3100f7;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.item1 {
    background-color: #c8a4b3;
    flex-grow: 2;
}
.item2 {
    background-color: #f7d154;
    flex-shrink: 3;
}
.item3 {
    background-color: #53e1f7;
    order: -1;
}
.item4 {
    background-color: #a154f7;
    align-self: flex-end;
}
.item5 {
    background-color: #f78554;
}
