p{
    font-size: 30px;
    line-height: 1.5;
    color: #ff0000;
    background-color: yellow;
    text-align: center;
    font-style: normal;
}
.jk{
    color: blue;
    background-color: turquoise;
   height: 300px;                 
width: 300px;
padding: 5px;
border: #ff0000 dashed 1px;
margin: 10px;
text-align: center;
align-content   : center;

}